.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea los elementos verticalmente */
  background: #fff;
  z-index: 10;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0; 
  height: 55px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: all 300ms;
}
  
.navbar__logo {
  color: #000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.img {
  height: 75%; /* Ajusta la altura según sea necesario */
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
  
.navbar ul li {
  margin: 0 20px;
  list-style: none;
}
  
.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  transition: 0.3s all ease-in-out;
}

.navbar ul li a:hover {
  color: var(--hover-color, #3b83bd);
}

.nav__mod{
  height: 65px;
  box-shadow: 1px 1px 10px 0px #00000010;
  background: #fff;
}

.nav-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 10px; /* Margen superior para separar la barra de navegación del contenido */
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-bar {
  width: auto;
  display: inline-flex;
  align-content: center;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  transition: all 300ms;
  padding: 0 1rem; /* Ajuste de padding para centrar */
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar ul li {
  margin: 0 22px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.3s all ease-in-out;
}

.nav-bar ul li a:hover {
  color: var(--hover-color, #3b83bd);
}

.move {
  background: rgba(229, 231, 235, 0.8); /* Fondo semi-transparente */
  color: #000;
  padding: 0.50rem;
  border-radius: 9999px;
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

.move ul li a {
  color: #000;
}

.active {
  color: var(--hover-color, #3b83bd);
}
